<h1>General Shopping List</h1>

<p>
  <strong>Total Food Items:</strong> <%= @total_food_items %><br>
  <strong>Total Price:</strong> <%= number_to_currency(@total_price) %>
</p>

<ul>
  <% @missing_foods.each do |missing_food| %>
    <li>
      <%= missing_food.food.name %> - <%= missing_food.quantity %> items
    </li>
  <% end %>
</ul>
