<!-- app/views/foods/index.html.erb -->

<ul>
 <% if @foods && @foods.any? %>
    <% @foods.each do |food| %>
      <li>
        <%= link_to food.name, food_path(food) %>
        | <%= link_to 'Delete', food_path(food), data: { turbo_method: :delete, confirm:'are you sure you want to delete this?' }%>
      </li>
    <% end %>
  <% else %>
    <li>No foods available.</li>
  <% end %>
</ul>

<%= link_to 'New Food', new_food_path, class: 'btn btn-primary' %>
